

<div class="container mt-3 ">
    <div class="card">
        <div class="card-header bg-olive">
            <div>
                <h2 class="text-center">Recycle Employee</h2>
            </div>
            <div class="row ">
                <div class="col  mb-3 mt-3">
                    <form asp-controller="Recycle" asp-action="ManageRecycleAccount" method="get">
                        <div class="input-group  text-dark">
                            <input type="text" class="form-control" placeholder="Search..." name="searchQuery" value="@ViewBag.SearchQuery">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-warning">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0  ">
            @if (Model.Logins != null && Model.Logins.Count > 0) // ตรวจสอบว่ามีข้อมูลในตารางหรือไม่
            {
                <table class="table  table-striped table-hover">
                    <caption class="caption-bottom ps-2 text-bold">
                        @(Model.ItemsPerPage * (Model.CurrentPage - 1) + 1) - @(Model.ItemsPerPage * (Model.CurrentPage - 1) + Model.Logins.Count) of @(Model.TotalItems)
                    </caption>
                    <thead class="">
                        <tr class="text-start">
                            <th>No.</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Position</th>

                            <th class="col-1 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            int startIndex = (Model.CurrentPage - 1) * Model.ItemsPerPage + 1; // คำนวณดัชนีเริ่มต้นของการนับ i
                            int i = startIndex;

                            @foreach (var item in Model.Logins)
                            {
                                <tr class="text-start">
                                    <td>@i</td>
                                    <td>@item.Username</td>
                                    <td>@item.EmpName</td>
                                    <td>@item.PosName</td>
                                    <td class="text-center"><a class=" text-primary" asp-controller="Recycle" asp-action="UpdateRecycleAccount" asp-route-id="@item.LogId" asp-route-page="@Model.CurrentPage" asp-route-searchquery="@ViewBag.SearchQuery"> <i class="fa-solid fa-pen-to-square fa-sm "></i></a></td>
                                </tr>
                                i++;
                            }
                        }


                    </tbody>
                </table>
            }
            else
            {
                <div class="d-flex justify-content-center align-content-center pt-3 pb-3">
                    <p class="display-6 text-secondary"><b>No data found</b></p>
                </div>
            }
        </div>
    </div>
    <!-- Pagination -->
    <partial name="_Pagination"></partial>
</div>

